<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamnolja.incident_tracker_flutter">

    <uses-permission android:name="android.permission.INTERNET"/>

   <application
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:label="incident_tracker_flutter"
        android:icon="@mipmap/launcher_icon">
       <activity android:name="com.kakao.sdk.flutter.AuthCodeCustomTabsActivity">
           <intent-filter android:label="flutter_web_auth">
               <action android:name="android.intent.action.VIEW" />
               <category android:name="android.intent.category.DEFAULT" />
               <category android:name="android.intent.category.BROWSABLE" />
               <data android:scheme="kakaofb0a4457bf97877770ddb0ffd6cb9f00" android:host="oauth"/>
           </intent-filter>
       </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <meta-data
              android:name="io.flutter.embedding.android.SplashScreenDrawable"
              android:resource="@drawable/launch_background"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
